<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.335131650947-1308f4378tuqi1mr0rhb5jdp2kocftes</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-SemiBoldItalic.otf</string>
		<string>Poppins-ExtraBoldItalic.otf</string>
		<string>Poppins-ExtraLight.otf</string>
		<string>Poppins-ThinItalic.otf</string>
		<string>Poppins-ExtraLightItalic.otf</string>
		<string>Poppins-Light.otf</string>
		<string>Poppins-BoldItalic.otf</string>
		<string>Poppins-Medium.otf</string>
		<string>Poppins-SemiBold.otf</string>
		<string>Poppins-Italic.otf</string>
		<string>Poppins-Thin.otf</string>
		<string>Poppins-MediumItalic.otf</string>
		<string>Poppins-LightItalic.otf</string>
		<string>Poppins-Bold.otf</string>
		<string>Poppins-Black.otf</string>
		<string>Poppins-BlackItalic.otf</string>
		<string>Poppins-Regular.otf</string>
		<string>Poppins-ExtraBold.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
